
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Data Input</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="/static/inputs/style.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/images/favicon-super-final.png">
</head>
<body>

	<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
				<img alt="favicon" src="/static/images/favicon-super-final.png" style="height: 32px; width: 32px;">
				AquaSense AI
			</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">				
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/manual-input/">Manual Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iot-input/">IoT Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/suggestions/">Suggestions</a>
                    </li>				
                    <li class="nav-item">
						<a class="nav-link" href="/contact/">Contact</a>
					</li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Begin Main Content -->

	<div class="content">
		<div class="container">

			<div class="row">
				<div class="maincontent col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
					<center style="margin-bottom: 50px;"><h1></h1></center>
				</div>
			</div>
			
			<!-- Start formatted calculator form -->
			<div>
				<h2><a name="calculator"></a>Water Quality Index Calculator</h2>
				<p>An index value is calculated for each of seven parameters: Temperature, Dissolved Oxygen, pH, Conductivity, Biological Oxygen Demand, Nitrate and Total Coliform. A higher value of each index indicates better water quality. The WQI is calculated using various ML models which were trained to predict its value accurately.</p>
				<!--/manual_input#define-->
				<p style="margin-bottom: 30px;"><a href="#define">Click here to learn more about the ISQA and the five water quality parameters used to compute it.</a></p>
				

				<div class="wqcalc-form" style="margin-bottom: 50px;">
				  <form name="Calculator" method="post" action="/manual-predict-wqi/">
					{% csrf_token %}
					  
					  <!--- Form Header -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <span class="wqcalc-header"><center>Parameter</center></span>
						  <span class="tooltiptext">Name of the water quality indicator parameter, hover for more information.</span>
						</div>
						<div class="col-middle wqcalc-tooltip">
						  <span class="wqcalc-header"><center>Data Entry</center></span>
						  <span class="tooltiptext">Enter a value for each parameter.</span>
						</div>
						<div class="col-far-right wqcalc-tooltip">
						  <span class="wqcalc-header"><center>Parameter Range</center></span>
						  <span class="tooltiptext">Illustrated range for each parameter from good (green) to bad (red).</span>
						</div>
					  </div>

					  <!--- Temperature Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="temp">
							  <img alt="Temperature" class="wqcalc-form-icon" src="/static/images/Temperature.png">
							  Temperature (°C)
						  </label>
						  <span class="tooltiptext">Fish and other organisms all have a preferred temperature range, and as temperature falls above or below this range, the number of individuals decreases. Water temperature is also important for its influence on water chemistry; warmer water can hold less dissolved oxygen.</span>
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="temp" min="0" max="40" step="0.01" placeholder="Temperature (°C)" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
						  <img alt="Temperature Range" class="wqcalc-range-arrow" src="/static/images/TempRange.png">
						</div>
					  </div>

					  <!-- DO Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="DO"><img alt="DO" class="wqcalc-form-icon" src="/static/images/Dissolved Oxygen.png">DO (mg/L)</label>
						  <span class="tooltiptext">Dissolved oxygen is a measure of oxygen available in water for fish and other organisms. Low values can kill these organisms.</span>					  			
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="DO" min="0" max="10" step="0.01" placeholder="Dissolved Oxygen (mg/L)" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
						  <img alt="DO Range" class="wqcalc-range-arrow" src="/static/images/DORange.png">
						</div>
					  </div>

					  <!-- pH Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="pH"><img alt="pH" class="wqcalc-form-icon" src="/static/images/pH.png">pH</label>
						  <span class="tooltiptext">pH is a measure of how acidic or basic the water is. Most aquatic organisms thrive in a narrow pH range of 6.5 to 8.5. Extreme pH levels can harm aquatic life and affect water chemistry, such as the solubility of nutrients and metals.</span>					  			
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="pH" min="0" max="10" step="0.01" placeholder="pH" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
						  <img alt="pH Range" class="wqcalc-range-arrow" src="/static/images/pHRange.png">
						</div>
					  </div>

					  <!-- Conductivity Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="cduc"><img alt="Conductivity" class="wqcalc-form-icon" src="/static/images/Conductivity.png">Conductivity (μS/cm)</label>
						  <span class="tooltiptext">Conductivity is a measure of the ability of water to conduct electricity.  It is related to the amount of dissolved salt that is present in water. Water with a lot of salt can be dangerous to crops. </span>
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="cond" min="0" max="4000" step="0.01" placeholder="Conductivity (μS/cm)" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
						  <img alt="Conductivity Range" class="wqcalc-range-arrow" src="/static/images/CondRange.png">
						</div>
					  </div>

					  <!-- BOD Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="BOD"><img alt="BOD" class="wqcalc-form-icon" src="/static/images/Biological Oxygen Demand.png">BOD (mg/L)</label>
						  <span class="tooltiptext">Biological oxygen demand indicates how much oxygen is needed by bacteria to break down organic matter in the water. A high BOD indicates a high amount of organic pollution in water, which may be an indication of contamination by sewage or other waste.</span>
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="BOD" min="0" max="12" step="0.01" placeholder="Biological Oxygen Demand (mg/L)" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
						  <img alt="BOD Range" class="wqcalc-range-arrow" src="/static/images/BODRange.png">
						</div>
					  </div>

					  <!-- Nitrate Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="Nitrate"><img alt="Nitrate" class="wqcalc-form-icon" src="/static/images/Nitrate.png">Nitrate (mg/L)</label>
						  <span class="tooltiptext">Nitrate is a form of nitrogen found in water, often as a result of agricultural runoff or sewage. High nitrate levels can cause algal blooms and harm aquatic life. For humans, high nitrate levels in drinking water can lead to health issues like methemoglobinemia (blue baby syndrome).</span>
						</div>
						<div class="col-middle">
						  	<center><input type="number" name="Nitrate" min="0" max="50" step="0.01" placeholder="Nitrate (mg/L)" value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
							<img alt="Nitrate Range" class="wqcalc-range-arrow" src="/static/images/NitrateRange.png">
						</div>
					  </div>

					  <!-- Total Coliform Input -->
					  <div class="wqcalc-row">
						<div class="col-far-left wqcalc-tooltip">
						  <label for="Total Coliform"><img alt="Total Coliform" class="wqcalc-form-icon" src="/static/images/Total Coliform.png">Total Coliform (mg/L)</label>
						  <span class="tooltiptext">Total coliform bacteria are a collection of microorganisms that are naturally present in the environment and are used as an indicator of water contamination and potential presence of harmful pathogens.</span>
						</div>
						<div class="col-middle">
							<center><input type="number" name="TotalColiform" min="0" max="5000" step="0.01" placeholder="Total Coliform (mg/L)"  value="">
						  <span class="error"></span></center>
						</div>
						<div class="col-far-right">
							<img alt="Total Coliform Range" class="wqcalc-range-arrow" src="/static/images/Total Coliform Range.png">
						</div>
					  </div>

					  <!-- WQ Input Output -->
					  <div class="wqcalc-row">
						<div class="col-far-left">
						  <label for="WQI" style="margin-top: 72px">Water Quality Index:</label>
						</div>
						<div class="col-middle">
							<div class="wqcalc-output" placeholder="Index Value" style="margin-top: 36px; background-color: #373A36">&nbsp;&nbsp;</div>
						</div>
						<div class="col-far-right">
							<img alt="Water Quality Indicator Scale" class="wqcalc-range-arrow" src="/static/images/WQIndexScale_en.png">
						</div>
					  </div>
					  
					  <!-- Submit and reset buttons -->
					  <div class="wqcalc-row">
						<div class="col-left">
							<input type="submit" value="Reset" onclick="resetForm()" name="RESET">
						</div>
						<div class="col-right">
							<input type="submit" value="Submit" onclick="return validateForm()" name="submit">
						</div>
					  </div>
				  </form>
				</div>
			</div>
			<!-- End Water Calculator Form -->
				
			<div>
				<h2><a name="define"></a>Water Quality Index Calculation</h2>
				<p>The water quality index is calculated based on measured values for each of seven parameters: Temperature, Dissolved Oxygen, pH, Conductivity, Biological Oxygen Demand, Nitrate and Total Coliform. Here we describe what each of these parameters means in terms of local water quality and how they are used in the index.</p>	
				<!-- https://www.agry.purdue.edu/hydrology/projects/nexus-swm/en/Tools/WaterQualityCalculator.php -->
				<center style="margin-bottom: 50px;"><a href="#calculator">Click here to return to the calculator.</a></center>
				
				<!-- Begin Index definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Simplified Water Quality Index" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/WQIndexScale_en.png">
					</div>
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Water Quality Index (WQI)</h3>
						<p>The WQI is calculated based on multiple water quality parameters, each assigned a specific weight to reflect its impact on overall water quality. Instead of using a fixed mathematical formula, we trained various machine learning models to predict WQI values based on measured input parameters. These models learn complex relationships between water quality parameters and WQI scores, improving predictive accuracy and adaptability compared to traditional calculation methods.</p>
						<p>WQI varies from 0 to 100, with 100 indicating excellent water quality, as shown to the left.</p>
					</div>
				</div>
				<!-- End index definition -->
			
				<!-- Begin Temperature definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperature" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/Temperature.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Water Temperature Index (TEMP)<a name="TEMP"></a></h3>
						<p>Fish and other organisms all have a preferred temperature range, and as temperature falls above or below this range, the number of individuals decreases. Water temperature is also important for its influence on water chemistry; warmer water can hold less dissolved oxygen.</p>
						<p>The water temperature index varies from 0 to 1. The temperature index decreases from 1 for every degree that water temperature is greater than 20°C.</p>
					</div>
				</div>
				<!-- End Temperature definition -->
				
				<!-- Begin DO definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperatre" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/Dissolved Oxygen.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Dissolved Oxygen Index (DO)<a name="DO"></a></h3>
						<p>Dissolved oxygen is a measure of oxygen available in water for fish and other organisms. Low values can kill these organisms.</p>
						<p>DO reaches a high of 25 when dissolved oxygen &gt; 10 mg/L.  For DO values = 0 mg/L, I<sub>DO</sub> = 0.</p>
					</div>	
				</div>
				<!-- End DO definition -->
				
				<!-- Begin pH definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperature" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/pH.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>pH Index (BOD)<a name="BOD"></a></h3>
						<p>pH is a measure of how acidic or basic the water is. Most aquatic organisms thrive in a narrow pH range of 6.5 to 8.5. Extreme pH levels can harm aquatic life and affect water chemistry, such as the solubility of nutrients and metals.</p>
						<p>The pH index is highest (10) when pH is between 7 and 8.5, which is ideal for most aquatic organisms. For pH values outside this range, the index decreases significantly, reaching 0 for pH < 5 or pH > 10.</p>
					</div>
				</div>	
				<!-- End pH definition -->
				
				<!-- Begin Conductivity definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperatre" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/Conductivity.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Conductivity Index (COND)<a name="COND"></a></h3>
						<p>Conductivity is a measure of the ability of water to conduct electricity.  It is related to the amount of dissolved salt that is present in water. Water with a lot of salt can be dangerous to crops. </p>
						<p>COND reaches a high of 20 when conductivity is 200 μS/cm (conductivity of drinking water). For conductivity values greater than 4000 μS/cm, COND = 0.</p>
					</div>
				</div>	
				<!-- End Conductivity definition -->
				
				<!-- Begin BOD definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperature" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/Biological Oxygen Demand.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Biological Oxygen Demand Index (BOD)<a name="BOD"></a></h3>
						<p>Biological oxygen demand indicates how much oxygen is needed by bacteria to break down organic matter in the water. A high BOD indicates a high amount of organic pollution in water, which may be an indication of contamination by sewage or other waste.</p>
						<p>BOD reaches a high of 30 for BOD = 0 mg/L. For BOD values &gt; 12 mg/L, I<sub>BOD</sub> = 0.</p>
					</div>
				</div>	
				<!-- End BOD definition -->
				
				<!-- Begin Nitrate definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperature" style="width: 70%; min-width: 100px; max-width: 200px; margin-bottom: 50px" src="/static/images/Nitrate.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Nitrate Index (Nitrate)<a name="Nitrate"></a></h3>
						<p>Nitrate is a form of nitrogen found in water, often as a result of agricultural runoff or sewage. High nitrate levels can cause algal blooms and harm aquatic life. For humans, high nitrate levels in drinking water can lead to health issues like methemoglobinemia (blue baby syndrome).</p>
						<p>The nitrate index is highest (15) when nitrate levels are ≤ 1 mg/L. For nitrate levels > 50 mg/L, the index decreases to 0, indicating a significant risk to aquatic life and human health.</p>
					</div>
				</div>	
				<!-- End Nitrate definition -->
				
				<!-- Begin Total Coliform definition -->
				<div class="row" style="text-align: left">
					<div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img alt="Temperature" style="width: 70%; min-width: 100px; max-width: 200px" src="/static/images/Total Coliform.png">
					</div>
					
					<div class="description col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h3>Total Coliform Index (Total Coliform)<a name="Total Coliform"></a></h3>
						<p>Total coliform bacteria are a collection of microorganisms that are naturally present in the environment and are used as an indicator of water contamination and potential presence of harmful pathogens.</p>
						<p>The Total Coliform index is highest (20) when total coliform levels are ≤ 50 MPN/100ml. For values > 5000 MPN/100ml, the index drops to 0, indicating unsafe water.</p>
					</div>
				</div>	
				<!-- End Total Coliform definition -->
				
				<p><a href="#calculator"></a></p><center><a href="#calculator">Click here to return to the calculator.</a></center><p></p>		

			</div>
		</div>
	</div>
	<!-- End Main Content -->

	<!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Water Quality Prediction. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
		function validateForm() {

			let form = document.forms["Calculator"];

			let fields = ["temp", "DO", "pH", "cond", "BOD", "Nitrate", "TotalColiform"];
			let fieldNames = {
				"temp": "Temperature",
				"DO": "Dissolved Oxygen",
				"pH": "pH",
				"cond": "Conductivity",
				"BOD": "BOD",
				"Nitrate": "Nitrate",
				"TotalColiform": "Total Coliform"
			};

			for (let i = 0; i < fields.length; i++) {
				let value = form[fields[i]].value;
				if (value === "" || isNaN(value)) {
					alert(fieldNames[fields[i]] + " must be a valid number.");
					return false;
				}
			}

			return true;
		}

		function resetForm() {
			document.forms["Calculator"].reset();
		}
	</script>

	<script>
		$(document).ready(function () {
			$("form[name='Calculator']").submit(function (event) {
				event.preventDefault();  // Prevent page reload

				let formData = $(this).serialize();
				console.log("Form Data:", formData); // Debugging line

				$.ajax({
					type: "POST",
					url: "/manual-predict-wqi/",  // Django URL mapping
					data: formData,
					success: function (response) {
						console.log("Response Data:", response); // Debugging line
						if (response.wqi) {
							$(".wqcalc-output").html(`
								<strong>WQI: ${response.wqi}</strong> <br> 
								<span>Category: ${response.category}</span> <br>
							`);
							$(".wqcalc-output").css("background-color", response.color);

							// Extract CSRF token from the existing form
							let csrf_token = $("input[name='csrfmiddlewaretoken']").val();
							
							// Append the button below WQI Category
							$(".wqcalc-output").append(`
								<form action="/manual_predict_suggest/" method="post" style="display: inline;">
									<input type="hidden" name="source" value="manual_input">

									<!-- Add input values dynamically -->
									<input type="hidden" name="temp" value="${$("input[name='temp']").val()}">
									<input type="hidden" name="DO" value="${$("input[name='DO']").val()}">
									<input type="hidden" name="pH" value="${$("input[name='pH']").val()}">
									<input type="hidden" name="cond" value="${$("input[name='cond']").val()}">
									<input type="hidden" name="BOD" value="${$("input[name='BOD']").val()}">
									<input type="hidden" name="Nitrate" value="${$("input[name='Nitrate']").val()}">
									<input type="hidden" name="TotalColiform" value="${$("input[name='TotalColiform']").val()}">

									<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
									<button type="submit" class="btn suggestion-link" 
										data-original-color="${response.color}" style="
										margin-top: 10px; 
										color: black; 
										border: 2px solid black; 
										padding: 8px 15px; 
										display: inline-block; 
										text-decoration: none;
										background-color: ${response.color};
										transition: background-color 0.3s ease;">
										View Improvement Suggestions
									</button>
								</form>
							`);

							$(document).on("mouseenter", ".suggestion-link", function () {
								$(this).css("background-color", "#9D968D");
							});
							$(document).on("mouseleave", ".suggestion-link", function () {
								$(this).css("background-color", $(this).data("original-color")); 
							});
						}
					},
					error: function (xhr, status, error) {
						console.error("Error:", error);
					}
				});
			});
		});
	</script>


	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("form[name='Calculator']").submit(function (event) {
				event.preventDefault();  // Prevent page reload

				$.ajax({
					type: "POST",
					url: "/manual-predict-wqi/",  // Django URL mapping
					data: $(this).serialize(),
					success: function (response) {
						if (response.wqi) {
							$(".wqcalc-output").html(
								`<strong>WQI: ${response.wqi}</strong> <br> Category: ${response.category}`
							);
							$(".wqcalc-output").css("background-color", response.color);
							
							$(".wqcalc-output").append(
								`<p><a href="/manual_predict_suggest/" class="btn suggestion-link" 
									style="margin-top: 10px; color: black; border: 2px solid black; padding: 8px 15px; display: inline-block; text-decoration: none;">View Improvement Suggestions</a></p>`
							);

							// Change the background color of the hyperlink
							$(".suggestion-link").css({
								"background-color": response.color,
								"border": "2px solid black",
								"transition": "background-color 0.3s ease" // Smooth hover transition
							});

							// Change color on hover
							$(".suggestion-link").hover(
								function () {
									$(this).css("background-color", "#9D968D");
								},
								function () {
									$(this).css("background-color", response.color);
								}
							);
							
						}
					},
					error: function (xhr, status, error) {
						console.error("Error:", error);
					}
				});
			});
		});
	</script> -->

</body>
</html>
